/* header fixo nas tabelas */
.custom-fixed-table-header { position: sticky; top: 0; background-color: #242939; color: white; min-width: 70px; }

/* restringe o tamanho máximo */
.custom-wrap-max-height { overflow-y: auto; max-height: 450px !important }

/* impede o wrap da tabela */
#kt_table th, tr { white-space: nowrap; }

/* aplica canto redondo na tabela */
#kt_table th:first-child { border-radius:5px 0 0 0; }
#kt_table th:last-child { border-radius:0 5px 0 0; }

/* campos obrigatórios em negrito */
.bold { font-weight: bold; }
.bold > label{ font-weight: bold !important; }

/* text-muted para a ser text-dark-50 */
.text-muted { color: #7E8299 !important }

/* deixa o ck-editor com width=100% */
.my-ckeditor .django-ckeditor-widget{
    min-width: 100%;
}