{% extends template %}


{% block content %}

    <!--begin::Form-->
    <form class="form" method="post">
        {% csrf_token %}
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        {{ template_title }}
                        {% if template_subtitle %}
                            <small class="text-primary ml-2">{{ template_subtitle|lower }}</small>
                        {% endif %}
                    </h3>
                </div>
                <div class="card-toolbar">
                    {% for button in template_buttons %}
                        {% include 'bluedata_templates/widgets/icon_button.html' with btn=button %}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary font-weight-bolder">
                        <i class="la la-times"></i>
                        Excluir
                    </button>
                </div>
            </div>
            <div class="card-body">
                <p>Utilize o botão 'Excluir' para remover o registro.</p>
                <p class="text-muted"><em>Essa operação não pode ser desfeita.</em></p>
            </div>
        </div>
    </form>
    <!--end::Form-->

    {% block sub_content %} {% endblock %}

{% endblock %}


{% block script %}

    <script>

        <!--Exibe as mensagens vindas da View-->
        {% if messages %}
            {% for message in messages %}
                show_message('{{ message.tags }}', '{{ message }}');
            {% endfor %}
        {% endif %}

    </script>

{% endblock %}