{% extends template %}


{% block content %}

    <!--begin::Inativo-->
    {% if template_url_active and not object.is_active %}
        <div class="container">
            <div class="alert alert-custom alert-outline-dark p-2 pl-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text font-weight-bolder">Esse registro está inativo!</div>
            </div>
        </div>
    {% endif %}
    <!--end::Inativo-->

    <div class="d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Form-->
        <form class="form" method="post" id="kt_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex flex-column-fluid mt-6 mt-lg-8">
                <!--begin::Container-->
                <div class="container">
                    <!--begin::Card-->
                    <div class="card card-custom" id="kt_page_sticky_card">
                        <div class="card-header" style="">
                            <div class="card-title">
                                <h3 class="card-label">
                                    {{ template_title }}
                                    <i class="mr-2"></i>
                                    {% if template_subtitle %}
                                        <small class="text-primary">{{ template_subtitle|lower }}</small>
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="card-toolbar">
                                {% for button in template_buttons %}
                                    {% include 'bluedata_templates/widgets/icon_button.html' with btn=button %}
                                {% endfor %}

                                {% if template_btn_save %}
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary font-weight-bolder">
                                            <i class="la la-check"></i>
                                            Salvar
                                        </button>
                                        {% if template_url_delete or template_url_active %}
                                            <button type="submit" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                                <!--btn::Excluir-->
                                                {% if template_url_delete %}
                                                    <a href="{{ template_url_delete }}" class="btn btn-link text-dark-50">
                                                        <i class="la la-times"></i>
                                                        Excluir
                                                    </a>
                                                {% endif %}

                                                <!--btn::Ativar/Desativar-->
                                                {% if template_url_active %}
                                                    <a href="{{ template_url_active }}" class="btn btn-link text-dark-50">
                                                        {% if object.is_active %}
                                                            <i class="la la-toggle-off"></i> Desativar
                                                        {% else %}
                                                            <i class="la la-toggle-on"></i> Ativar
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            {% include template_form_fields %}
                        </div>
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Container-->
            </div>
        </form>
        <!--end::Form-->
    </div>

    {% block sub_content %} {% endblock %}

{% endblock %}


{% block script %}

    <script>

        <!--Exibe as mensagens vindas da View-->
        {% if messages %}
            {% for message in messages %}
                show_message('{{ message.tags }}', '{{ message }}');
            {% endfor %}
        {% endif %}

    </script>

{% endblock %}